# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/.vscode
/Debug
/MenuPOC/.vs/MenuPOC/v16
/MenuPOC/Debug
/MenuPOC/x64/Debug
/MenuPOC/MenuPOC.vcxproj.user
/MenuPOC/MenuPOC.vcxproj.filters
/MenuPOC/MenuPOC.vcxproj
/MenuPOC/MenuPOC.sln
/MR7.vcxproj.user
/MR7.vcxproj.filters
/MR7.vcxproj
/MR7.sln
/CppProperties.json
